<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<title>Listagem de produtos</title>
</head>
<body>

	<div class="container">
		<div class="card" th:each="produto : ${produtos}" style = "margin: 15px 0px; height: 60%">
			<div class="card-header" th:text="${produto.nome}"></div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div>
							Preço:<span th:text="${produto.preco}"></span>
						</div>
						<div>
							Quantidade:<span th:text="${produto.quantidade}"></span>
						</div>
						<div>
							Descrição:<h5 th:text="${produto.descricaoProduto}"></h5>
						</div>
					</div>
					<div class="col">
						<img alt="imagem do produto" 
							th:src="${produto.urlImagem}"
							src="" class="img-thumbnail">
							
					</div>
				</div>
			</div>
			
			<div class = "row">
			<div class = "col" style = "margin: 0px 0px 10px 50px">
			<a th:href = "@{/editar/{id} (id=${produto.id})}" class = "btn btn-outline-warning" > Editar </a>
			<button  data-bs-toggle= "modal" class="btn btn-danger" th:attr= "data-bs-target='#modalExcluir'+${produto.id}">Deletar </button>
			
			</div>
		</div>
	
	<div class="modal" tabindex="-1" role="dialog" th:attr="id='modalExcluir'+${produto.id}">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title">Excluir Produto</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
					  <p>Realmente deseja excluir o produto: <span th:text="${produto.nome}"></span>?</p>
					</div>
					<div class="modal-footer">
					  <a th:href="@{/delete/{id} (id=${produto.id})}" type="button" class="btn btn-outline-primary">Sim</a>
					  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
					</div>
				  </div>
				</div>
			  </div>


	</div>
	
	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>